{% extends 'registration/base_registration.html' %}

{% block body_block %}

 

  <div class="wrapper">
    <form class="form-signin" method="POST">
      {% csrf_token %}       
      <h2 class="form-signin-heading">Login</h2>
      <input id="id_username" type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
      <input id="id_password" type="password" class="form-control" name="password" placeholder="Password" required=""/>      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
  </div>


{% endblock %}
