{% extends 'base_dashboard.html' %}
{% load static %}


{% block body_block %}
<style>
                html {
                        background: url({% static 'img/setup_background.jpg' %}) no-repeat center center fixed;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                }

</style>

{% include 'dashboard_navbar.html' %}

{% include 'dashboard_sidebar.html' %}

{% include 'dashboard_addServiceRequirementModal.html' %}

{% include 'dashboard_serviceProvidersListing.html' %}

<script>
$(document).ready(function(){
	var servicerequirements = [];
	var event = {};

	setEventName();
	buildServiceRequirementsList();
	$('#btn_add_service_submit').click(addServiceRequirementSubmit);
	$('#btn_add_services').click(launchServiceRequirementModal);


	$('#serviceOfferingListing').empty();
	$('#serviceOfferingListing').append('<div class="alert alert-success" role="alert"> Select some service requirements on the left to show a list of available providers </div>');

});



</script>


{% endblock %}
