{% extends 'base_web.html' %}
{% load static %} 
{% block body_block %}
<style>
		html { 
			background: url({% static 'img/setup_background.jpg' %}) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
</style>

<div id="modal_event_name" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
	      <h4 class="modal-title">Looks like you're new here...</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
		<h5> We'll need some details before we get started.</h5>
		<h5> Let's give your wedding a name </h5>
	        <input type="text" class="form-control" placeholder="Tim & Hughsey's Wedding"  id="input_event_name" >
        </div>
      <div class="modal-footer">
	      <button type="button" class="btn btn-success" id="btn_event_name_submit">Next</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="modal_event_location" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="lbl_event_location_title"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5> And where will your wedding be held?</h5>
          <select class="selectpicker" id="sel_event_location">
            <option>Brisbane</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="btn_event_location_submit">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal_event_budget" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="lbl_event_budget_title"></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h5> Finally, what is your budget? (Don't worry, we can review this later)
	  <div class="col-md-12"></div>
	  <input type="text" data-slider-min="0" data-slider-max="100000" data-slider-step="1000" data-slider-value="40000" id="sld_event_budget" />
	  <label id="lbl_event_budget">$</label><label id="lbl_event_budget_val">40000</label>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-success" id="btn_event_budget_submit">Finish</button>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_block %}
<script>
$(document).ready(function(){

  $('#modal_event_name').modal('show');
	
  var eventDetails = new Object();
	$('#btn_event_name_submit').click(function() {
	    	eventDetails.name = $('#input_event_name').val();
  		$('#lbl_event_location_title').text(eventDetails.name);
		$('#modal_event_name').modal('hide');
  		$('#modal_event_location').modal('show');
  	});

	$('#btn_event_location_submit').click(function() {
		eventDetails.location_lon = "27";
		eventDetails.location_lat = "153";
		$('#lbl_event_budget_title').text(eventDetails.name);
		$('#modal_event_location').modal('hide');
		$('#modal_event_budget').modal('show');
	});

	$("#sld_event_budget").slider();
	$("#sld_event_budget").on("slide",function(slideEvt){
	  $("#lbl_event_budget_val").text(slideEvt.value);
	});


	$('#btn_event_budget_submit').click(function() {
		eventDetails.budget = $('#sld_event_budget').val();
		
		$.ajax({
		  beforeSend: function(xhr){
		    xhr.setRequestHeader("X-CSRFToken",Cookies.get('csrftoken'));
		  },
		  type: 'POST',
		  url: '/api/events/',
		  data: JSON.stringify(eventDetails),
		  success: function(data) { window.location.replace("/"); },
		  error: function(xhr, textStatus, errorThrown){ alert('There was an error, soz: ' + errorThrown);},
		  contentType: "application/json",
		  dataType: 'json'
	});
	});
	
});

	

</script>
{% endblock %}
