@media screen and (min-width: 768px){
	#modal_event_parameters .modal-dialog {width:900px;}
}

#modal_event_parameters .modal-dialog {width:75%;}
#modal_event_parameters .modal-open {text-align: center;}
